.button {
  font-family: "Fredoka One", cursive;
  font-size: 1.2rem;
  /* color: #fff; */
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  transform: translateY(-2px);
}

/* Кастомные цвета */
.yellow {
  background-color: #ffc107;
}

.yellow:hover {
  background-color: #ff9800;
}

.green {
  background-color: #8bc34a;
}

.green:hover {
  background-color: #689f38;
}

.red {
  background-color: #ff5252;
}

.red:hover {
  background-color: #d32f2f;
}
